.heading {
}


table {
    padding: 20px;
    width:100%; 
    justify-content: center;
  }

.selectBoiler {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

.latLongInfo{
    padding: 30px;
    font-size: small;
}


