.graph {
    padding: 20px;
    padding-left: 60px;
    width: 85%;
}

.changeGraph {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  
  .changeGraph > * {
    width: 100%;
  }